[submodule "common/3rd/git-submodule/Bento4"]
	path = common/3rd/git-submodule/Bento4
	url = https://github.com/axiomatic-systems/Bento4.git
[submodule "common/3rd/git-submodule/gpac"]
	path = common/3rd/git-submodule/gpac
	url = https://github.com/gpac/gpac.git
[submodule "common/3rd/git-submodule/rapidjson"]
	path = common/3rd/git-submodule/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "common/3rd/git-submodule/easyloggingpp"]
	path = common/3rd/git-submodule/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
[submodule "common/3rd/git-submodule/jwt-cpp"]
	path = common/3rd/git-submodule/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "common/3rd/git-submodule/openssl"]
	path = common/3rd/git-submodule/openssl
	url = https://github.com/openssl/openssl.git
[submodule "common/3rd/git-submodule/libuv"]
	path = common/3rd/git-submodule/libuv
	url = https://github.com/libuv/libuv.git
[submodule "common/3rd/git-submodule/uv-cpp"]
	path = common/3rd/git-submodule/uv-cpp
	url = https://github.com/wlgq2/uv-cpp.git
