# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#streamingnology
.DS_Store
.vs
common/3rd/download/*
!common/3rd/download/*.bat
common/3rd/build/
common/out
common/build
common/cmake-build-debug

application/rtmp_proxy/.idea
application/rtmp_proxy/out
application/rtmp_proxy/build
application/rtmp_proxy/cmake-build-debug
application/rtmp_proxy/log/
