# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#streamingnology
.DS_Store
common/3rd/git-submodule/*
common/build/
build/

application/MediaServer/.idea
application/MediaServer/build
application/MediaServer/cmake-build-debug